# DS-SF-34 | 11 | Logistic Regression | Assignment | Starter Code

In [1]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

from sklearn import linear_model, cross_validation

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

C:\Users\kfarkas\AppData\Local\Continuum\anaconda2\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

## Probability, Odds, and Odds Ratios

**Probability:** The number of ways that an event can occur divided by the total number of possible outcomes.

The probability of drawing a red card from a standard deck of cards is 26/52 (50 percent).
The probability of drawing a club from that deck is 13/52 (25 percent).

> ### Question 1.  What's the probability of getting heads in a fair coin flip?

In [7]:
# TODO

p = 1/2.

print p

0.5

The odds for an event is the ratio of the number of ways the event can occur compared to the number of ways it does not occur.

For example, using the same events as above, the odds for:
- Drawing a red card from a standard deck of cards is 1:1; and
- Drawing a club from that deck is 1:3.

> ### Question 2.  What's the odds of a fair coin flip?

In [ ]:
# TODO 1:1

p / (1 - p)

> ### Question 3.  Suppose that 18 out of 20 patients in an experiment lost weight while using diet A, while 16 out of 20  lost weight using diet B.  What's the probability of weight loss with diet A?  What's the odds?

In [9]:
# TODO

p_a = 18 / 20.

odds_a = p_a / ( 1 - p_a )

p_b = 16 / 20.

odds_b = p_b / (1 - p_b)

print p_a, odds_a, p_b, odds_b

0.9 9.0 0.8 4.0

> ### Question 4.  What's the probablity of weight loss with diet B?  What are the odds?

In [ ]:
# TODO

> ### Question 5.  What's the odds ratio?

In [10]:
# TODO

print odds_a / odds_b

2.25

## Bank Marketing

In [11]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-11-bank-marketing.csv'))

In [12]:
df

,age,job,marital,education,default,...,campaign,pdays,previous,poutcome,c
0,30,unemployed,married,primary,no,...,1,-1,0,unknown,no
1,33,services,married,secondary,no,...,1,339,4,failure,no
2,35,management,single,tertiary,no,...,1,330,1,failure,no
3,30,management,married,tertiary,no,...,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,...,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,...,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,...,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,...,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,...,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,...,2,249,7,other,no

> The dataset is related to the direct marketing campaigns (by phone) of a Portuguese banking institution.  The classification goal is to predict if the client will subscribe a term deposit (variable y).

Attributes Information:

- Input variables:
  - [Bank client data]
    - `age` (numeric)
    - `job`: type of job (categorical)
    - `marital`: marital status (categorical)
      - Note: `divorced` means divorced or widowed)
    - `education` (categorical)
    - `default`: has credit in default? (categorical)
    - `balance`: bank account balance (\$)
    - `housing`: has housing loan? (categorical)
    - `loan`: has personal loan? (categorical)
  - [Data related with the last contact of the current campaign]
    - `contact`: contact communication type (categorical)
    - `month`: last contact month of year (categorical)
    - `day_of_week`: last contact day of the week (categorical)
    - `duration`: last contact duration, in seconds (numeric)
      - Important note: this attribute highly affects the output target (e.g., if `duration = 0` then `y = 'no'`). Yet, the duration is not known before a call is performed.  Also, after the end of the call y is obviously known.  Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
  - [Other attributes]
    - `campaign`: number of contacts performed during this campaign and for this client (numeric)
    - `pdays`: number of days that passed by after the client was last contacted from a previous campaign (numeric)
      - 999 means client was not previously contacted
    - `previous`: number of contacts performed before this campaign and for this client (numeric)
    - `poutcome`: outcome of the previous marketing campaign (categorical)

- Output variable (desired target):
  - `y`: has the client subscribed a term deposit? (binary)

> Our goal is to develop a model the best predicts the outcome `y`, the success of the marketing campaign.

> ## Question 6.  Remove the categorical variables with the most number of distinct values

In [29]:
# TODO
def count_unique_values(column):
    return column.nunique()

categorical_columns = df.select_dtypes(include="object").columns


for column in categorical_columns:
    print "column: {}".format(column), count_unique_values(df[column])
    
    
df = df.drop("job", axis = 1)

job 12
marital 3
education 4
housing 1

In [31]:
df.head()

,age,marital,education,default,balance,...,campaign,pdays,previous,poutcome,c
0,30,married,primary,1,1787,...,1,-1,0,unknown,0
1,33,married,secondary,1,4789,...,1,339,4,failure,0
2,35,single,tertiary,1,1350,...,1,330,1,failure,0
3,30,married,tertiary,1,1476,...,4,-1,0,unknown,0
4,59,married,secondary,1,0,...,1,-1,0,unknown,0

Answer: TODO

> ## Question 7.  Recode all `yes`/`no` categorical variables with `0` as the most frequent value (then also append `"_no"` to the variable name), and `1` for the other (then leave the name unchanged)

In [36]:
for column in df.select_dtypes(include="object").columns:
    print column, df[column].unique()

TypeError: include and exclude must both be non-string sequences

In [35]:
# TODO

df.default = df.default.apply(lambda value: 0 if value == 'no' else 1)
df.housing = df.housing.apply(lambda value: 0 if value == 'no' else 1)
df.loan = df.loan.apply(lambda value: 0 if value == 'no' else 1)
df.c = df.c.apply(lambda value: 0 if value == 'no' else 1)

df.head()

,age,marital,education,default,balance,...,campaign,pdays,previous,poutcome,c
0,30,married,primary,1,1787,...,1,-1,0,unknown,1
1,33,married,secondary,1,4789,...,1,339,4,failure,1
2,35,single,tertiary,1,1350,...,1,330,1,failure,1
3,30,married,tertiary,1,1476,...,4,-1,0,unknown,1
4,59,married,secondary,1,0,...,1,-1,0,unknown,1

> ## Question 8.  Create binary/dummy variables for the other categorical variables

In [39]:
# TODO

pd.get_dummies(df).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 37 columns):
age                    4521 non-null int64
default                4521 non-null int64
balance                4521 non-null int64
housing                4521 non-null int64
loan                   4521 non-null int64
day                    4521 non-null int64
duration               4521 non-null int64
campaign               4521 non-null int64
pdays                  4521 non-null int64
previous               4521 non-null int64
c                      4521 non-null int64
marital_divorced       4521 non-null uint8
marital_married        4521 non-null uint8
marital_single         4521 non-null uint8
education_primary      4521 non-null uint8
education_secondary    4521 non-null uint8
education_tertiary     4521 non-null uint8
education_unknown      4521 non-null uint8
contact_cellular       4521 non-null uint8
contact_telephone      4521 non-null uint8
contact_unknown        4521 non-null uint8
month_apr              4521 non-null uint8
month_aug              4521 non-null uint8
month_dec              4521 non-null uint8
month_feb              4521 non-null uint8
month_jan              4521 non-null uint8
month_jul              4521 non-null uint8
month_jun              4521 non-null uint8
month_mar              4521 non-null uint8
month_may              4521 non-null uint8
month_nov              4521 non-null uint8
month_oct              4521 non-null uint8
month_sep              4521 non-null uint8
poutcome_failure       4521 non-null uint8
poutcome_other         4521 non-null uint8
poutcome_success       4521 non-null uint8
poutcome_unknown       4521 non-null uint8
dtypes: int64(11), uint8(26)
memory usage: 503.4 KB

> ## Question 9.  What should be your baseline for these binary variables (namely, which binary variables should you not include in your model)?

In [ ]:
# TODO

Answer: TODO

> ## Question 10.  What input variable in the dataset seems to predict the outcome quite well.  Why?

In [ ]:
# TODO

Answer: TODO

> ## Question 11.  Split the dataset into a training set (60%) and a testing set (the rest)

In [ ]:
# TODO

> ## Question 12.  Run a logistic regression with `age`, `marital` (the dummies), `default`, `balance`, `housing`, `loan`, `campaign`, `pdays`, `previous`?

In [ ]:
# TODO

> ## Question 13.  What is your training error?  What is your generalization error?  Does it make sense?

In [ ]:
# TODO

Answer: TODO

> ## Question 14.  Interpret your coefficients. (At least `marital_single`, `campaign`, and `default`).  Does your interpretation  make sense?

In [ ]:
# TODO

Answer: TODO

> ## Question 15.  What is your prediction for a 30 years old single female, a homeowner with a \$1,000 balance in the bank, without a loan, who has never been contacted before, and who has never defaulted

In [ ]:
# TODO

Answer: TODO